.App {
  padding: 0px;
  margin: 0px 10px;
}

.top h1 {
  background-color: mediumblue;
  padding: 10px;
  font-weight: 800;
  font-size: xx-large;
  text-align: center;
  color: white;
}

.display {
  background-color: mediumblue;
  text-align: center;
  padding: 5px;
}

.display span {
  font-size: x-large;
  margin-right: 5px;
}

.controls {
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: mediumblue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.controls input {
  text-align: center;
  width: 35px;
  margin: 0px 5px;
  font-size: medium;
  font-weight: 600;
}

.buttonscontrol {
  margin: 0px 30px;
}

.buttonscontrol button {
  padding: 2px;
  margin: 0px 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
